In [22]:
import pandas as pd
import os

In [23]:
path = "C:/Users/chahi/Desktop"
file = "Laboratorio5/operacionesmayo.csv"
pathdata = os.path.join(path,file)

In [24]:
data2 = pd.read_csv(pathdata)

In [25]:
Ventas2020y2021 = data.iloc[0:15,1:3]
Ventas2020y2021.head(20)

    Ventas2020  Ventas2021
0       200000        1000
1       150000           0
2       178500        3000
3        50000        5000
4            0         500
5        75000           0
6       198000        2000
7        25000        6000
8       300000           0
9       150000        1500
10       80000           0
11      250000       50000
12       10000       50000
13       98000        2000
14        3500           0

In [26]:
Suma2020y2021 = ventas['Ventastotales'] = ventas.sum(axis=1)
Suma2020y2021

0     603000
1     450000
2     544500
3     165000
4       1500
5     225000
6     600000
7      93000
8     900000
9     454500
10    240000
11    900000
12    180000
13    300000
14     10500
dtype: int64

In [27]:
SumaTotal = Suma2020y2021.sum()
SumaTotal

5667000

In [28]:
dummy_metas = pd.get_dummies(data["MetaCumplida"], prefix="MetaCumplida")
dummy_metas.head(20)

    MetaCumplida_No  MetaCumplida_Yes
0                 0                 1
1                 0                 1
2                 0                 1
3                 1                 0
4                 1                 0
5                 1                 0
6                 0                 1
7                 1                 0
8                 0                 1
9                 0                 1
10                1                 0
11                0                 1
12                1                 0
13                1                 0
14                0                 1
15                0                 1

In [29]:
#Guardar o convertir CSV
newnamefile="Laboratorio5/NuevoExcel"
data2.to_csv(path+"/"+newnamefile+".csv")